body{
	margin: 0;
	padding: 0;
}

.main-content-container{
	background-color: #fff;
	width: 60%;
}

.icon-container{
	margin-top: 10px;
	width: 20%;
	background-color: #ccc;
	height: 50px;
	margin-bottom: 10px;
}

.header-sidebar-container{
	width: 20%;
	background-color: #666;
	float: left;
	height: 300px;
}

.navigation-sidebar-container{
	width: 20%;
	float: left;
	margin-left: 1%;
}

.box{
	margin: 5px 0;
	width: 100%;
	height: 100px;
	background-color: #aaa;
}

.header-sidebar-container .box:last-of-type{
	margin-bottom: 0px;
}

.article-container{
	width: 54%;
	
	float: left;
	margin-left: 1%;
}

.title{
	width: 100%;
	background-color: #333;
	height: 50px;
}

.right-sidebar-container{
	float: right;
	width: 39%;
	background-color: #999;
}

.sidebar{
	background-color: #222;
	height: 300px;
}